<h3>Quick Intro</h3>

<p>Lorem ipsum dolor sunt in culpa qui officia deserunt moll</p>

<h5>Look... a wild... </h5>
<ul>
  <!-- Lists Starting Pokes -->
  <% @pokemons.each do |pokemon| %>
  <li>
    <a href="/home/<%= pokemon.id %>"> <%= pokemon.name %> </a>
  </li>
  <% end %>
</ul>
