<h2>The Cablelink</h2>
<p>The place to meet other trainers</p>

<h3>Trainer List</h3>

<% @trainers.each do |trainer| %>
  <p> <a href="/home/trainer_home/<%= trainer.id %>"> <%= trainer.name %> </a> </p>
<% end %>

<h3>Become A Trainer</h3>

<form action="/home/create_trainer" method="post">
  <!-- prompts directory which  -->
  <label>Name:</label>
  <input type="text" name="trainer[name]" value="Ash Ketchum">
  <input type="hidden" name="trainer[level]" value=1>
  <input type="hidden" name="trainer[img_url]" value="/images/no_image.gif">
  <input type="Submit" value="Create Trainer">
</form>
