<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POKÉ HUNTER</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>

    <h1>Poké Hunter</h1>

    <%= yield %>

  </body>
</html>
